<div class="center">
    <section id="content">
        <h2 class="subheader"> Crear Artículo </h2>

        <form class="mid-form" #ArticleForm="ngForm" (ngSubmit)="onSubmit()">
            <div class="form-group">
                <label for="title">Título</label>
                <input type="text" name="title" #title="ngModel" [(ngModel)]="article.title" required>
                <small *ngIf="!title.valid && title.touched">
                    El título es necesario
                </small> 
            </div>

            <div class="form-group">
                <label for="content">Contenido</label>
                <textarea name="content" #content="ngModel" [(ngModel)]="article.content" required></textarea>
                <small *ngIf="!content.valid && content.touched">
                    Ingresa un Contenido
                </small> 
            </div>

            <div class="form-group">
                <label for="image">Imagen</label>
                <input type="file" name="file0">
            </div>
            <!-- Limpiar floatado -->
            <div class="clearfix"></div>

            <input type="submit" value="Guardar" class="btn btn-success" [disabled]="ArticleForm.invalid">
        </form>
    </section>
    <app-sidebar></app-sidebar>
</div>