<aside id="sidebar">
    <div id="nav-log" class="sidebar-item">
        <h3>Puedes hacer esto</h3>
        <a href="#" class="btn btn-success">Crear Artículo</a>
    </div>
    <div id="search" class="sidebar-item">
        <h3>Buscador</h3>
        <p>Encuentra el Artículo que buscas</p>
        <form>
            <input type="text" name="search">
            <input type="submit" value="Buscar" class="btn">
        </form>
    </div>
</aside>
<!-- Limpiar floatado -->
<div class="clearfix"></div>